.Connection {
    width: 200px;
    height: 100px;
    background: #212121;
    border-radius: 10px;
    padding: 10px;
}
  
.Connection_title {
    font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
  
.Connection_content {
    padding-top: 5px;
    color: #fff;
}

.Globe_container {
    background: #000010;
    position: relative;
}

@media only screen and (min-width: 1025px) {
    .Globe_connection {
        transform: translate(-25%, -5%);
        pointer-events: none;
    }
}

.Globe_generic {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 80px;
    color: #fff;
    display: flex;
    align-items: center;
}

.Globe_text {
    font-size: calc((0.6em + 1vmin) + (.7em + 1vmax));
}

.Globe_welcome_text {
    color: #db6930;
}
  