.Loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #db6930;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}